<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS to hide the request errors -->
    <style>
        .hidden {display: none;}
    </style>
</head>


<body>
    <!-- Insert a form that will be used to create new input data -->
    <!-- Note: method and action attributes are moved to the fetch script -->
    <!-- The input label name is linked to the form input by the id attribute -->
    <form id="form">
        <label for="desc_id">Description:</label>
        <input type="text" name="desc_name" id="desc_id"/>
        <input type="submit" value="Create" />
    </form>
    

    <!-- View the data with the unordered list below. The list needs an id so  -->
    <ul id="todos">
        <!-- Use a for loop to print all the items in the data list from flask -->
        {% for d in data %}
        <!-- The description here is the name of the `sql column` being called -->
        <li>{{ d.description }}</li>
        {% endfor %}
    </ul>
    

    <!-- Tag to deal with unsuccessful requests. This tag is hidden using the css style -->
    <div class = "hidden" id = "error" style="display:none;"> Something went wrong! </div>


    <!-- Create a script tag to implement the async fetch request -->
    <script>
        // Use dom to listen to when the form is submitted and pass the values into a function
        document.getElementById('form').onsubmit = function(e) {
            // Use this line to prevent the default page refresh each time there is an update
            e.preventDefault();
            // Implement the asynchronous fetch
            fetch("/todos/create", {
                // method type
                method: 'POST',
                // json formatted string from the form input
                body: JSON.stringify({'desc_name': document.getElementById('desc_id').value}),
                // specify the data type as json so the server understands how to read it
                headers: {'Content-Type': 'application/json'
                }
            })
            // Test that the function actually returns a json and log it to the browser console
            .then(function(response) {
                return response.json();
            })
            .then(function(jsonResponse) {
                // Print the output to the browser console for debugging
                console.log(jsonResponse);
                // Create a `li` tag that can be appended to the unordered list
                const liItem = document.createElement('li');
                // The key being called must match the form input name
                liItem.innerHTML = jsonResponse['desc_name'];
                // This appends a child to the unordered list and the list tag must have an id='todos'
                document.getElementById('todos').appendChild(liItem);
                // Check the request error tag
                document.getElementById('error').classname='hidden';
            })
            // use this catch handler to deal with requests that don't work
            .catch(function() {
                document.getElementById('error').classname='';
            })
        }
    </script>
    
</body>
</html>
