<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css')}}">
    <link type="text/css" href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <title>{% block title %}HofEl Home Page{% endblock %}</title>
</head>
<body>
  <header>
    <nav class="vertical-centerer flex-container">
        <div class="flex-container space-between header-content">
            <div>
                <span>
                    <img class="logo" src="{{ url_for('static', filename='images/logo.png')}}" alt="HofE Logo">
                </span>
            </div>
            <div>
                <ul class="menu">
                    <li><a href="{{ url_for('index')}}">Home</a></li>
                    <!-- <li><a href="{{ url_for('static', filename='services.html')}}">Services</a></li> -->
                    <li><a href="{{ url_for('get_bookings')}}">Book Appointment</a></li>
                    <li><a href="{{ url_for('get_stylists')}}">Stylists</a></li>
                    <li id="login-button"><a href="{{ url_for('auth.login')}}">Login</a></li>
                    {% if session.user %}
                    <li id="logout-button"><a href="{{ url_for('auth.logout')}}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
  </header>
  <main>
    {% block content %}
    <div style="margin-top: 12%;">
        <h1 style="font-size: 48px; text-align: center; color: #333; font-family: sans-serif; ">
            HOMEPAGE UNDER CONSTRUCTION &#128679;
        </h1>
        <p style="font-size: 32px; text-align: center;">
            Only the <em style="color: mediumpurple;"><b>BOOK APPOINTMENT</b></em> and 
            <em style="color: mediumpurple;"><b>STYLIST</b></em> tabs were developed for the Nanodegree capstone project
        </p>
        <p style="font-size: 28px; text-align: center;">
            Access is limited for guest users, check the git repo for login credentials. <br>
            Signing up will generate access errors because I didn't automatically assign default roles in Auth0 login flow. <br>
            Please use only git credentials.
        </p>
    </div>
    
    {% endblock %}
  </main>
</body>
</html>